
*.suo
*.sdf
*.opensdf
*.exe
*.vcxproj
*.filters
*.pdb
*.idb
testFileKitLib/testFileKitLib/Debug/testFileKitLib.tlog/testFileKitLib.lastbuildstate
*.tlog
*.filters
*.vcxproj
*.filters
*.ilk
*.sdf
*.suo
*.obj
*.vcxproj
*.filters
*.sdf
*.suo
*.log
*.suo
